# Основной фреймворк и расширения
Flask
Flask-SQLAlchemy
Flask-Login
Flask-SocketIO

# Работа с облаком и БД
cloudinary
psycopg2-binary
requests

# Сервер и асинхронность
gunicorn
gevent
gevent-websocket

# Вспомогательные библиотеки
SQLAlchemy
Werkzeug
Jinja2
python-dotenv
