# Основной фреймворк и расширения
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Mail
Flask-SocketIO

# Работа с облаком и БД
cloudinary
psycopg2-binary

# Сервер и асинхронность (Рекомендуется gevent вместо eventlet для Python 3.13+)
gunicorn
gevent
gevent-websocket

# Вспомогательные библиотеки
SQLAlchemy
Werkzeug
Jinja2
